<ion-header>
  <ion-toolbar>
      <ion-title text-center>Kumpul</ion-title>
      <ion-buttons slot="start">
        <ion-button  routerLink="/home/tabs/meeting/add-meeting" >
            <ion-icon name="add"></ion-icon> 
          </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Nama Acara</ion-label>
                <ion-input inputMode="text"  [(ngModel)]="meet.judul"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Tanggal</ion-label>
                <ion-input inputMode="text"  [(ngModel)]="meet.hari"></ion-input>
            </ion-item>
            
            <ion-item>
                <ion-label position="floating">Jam Acara</ion-label>
                <ion-input inputMode="text"  [(ngModel)]="meet.waktu"></ion-input>
            </ion-item>
        <div class="wrapper">
            <ion-button (click) = "ShareLocation()">Share Location</ion-button>
        </div> 
        </ion-card-content>
    </ion-card>
    <ion-grid>
        <ion-row style="background-color:cornflowerblue;color: white;">
          <ion-col class="ion-text-center" style=" border: solid darkgray">
            <h2 style="text-align: center;">KetemuanKuy</h2>
              <!-- Angular disini -->
            <ion-list>
                <ion-item *ngFor="let item of meets" style="background-color: transparent !important;"> 
                    <ion-card style="background-color: transparent !important;">
                    <div id="images">
                        <div class="image" style="margin-left: auto;margin-right: auto;width: 50%; display: block;">
                          <img [src]="imagess">
                        </div>
                    </div>
                    <h2 style="text-align: center;color:black">{{ item.judul}}</h2> 
                    <ion-text style="color: black;">Pada tanggal : {{ item.hari}}</ion-text> <br>
                    <ion-text style="color: black;">Pukul &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ item.waktu}}</ion-text> 
                <div class="wrapper">
                    <ion-button (click)="openUrl(item)" >Hubungkan</ion-button>
                </div>
                </ion-card>
            </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>