<ion-header>
  <ion-toolbar>
      <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="email" type="email" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"[(ngModel)]="password"a></ion-input>
      </ion-item>
      
  </ion-list>
  <!-- <ion-spinner color="primary" *ngIf="isLoading">Login</ion-spinner> -->
  <ion-button color="primary" (click)="onLogin()">Login</ion-button>
  <ion-button color="primary" (click)="register1()">Register</ion-button>
</ion-content>
