<ion-header>
  <ion-toolbar>
    <ion-title text-center>Detail Masakan</ion-title>
    <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" class="text-center">
          <ion-card style="background-color:#e6ebe7; border: solid darkgray;">
            <ion-card-header>
              <ion-card-title style="text-align: center;font-size: 23px;">{{todo.title}}</ion-card-title>
            </ion-card-header>
            <div id="img" *ngIf= "todo.uid != null">
                <ion-img src="https://ucarecdn.com/{{ todo.uid }}/-/resize/640x400/center">
                </ion-img>
            </div>
            <div id="img" *ngIf= "todo.uid == null || !todo.uid">
                <img [src]="imagess">
            </div> 
            <ion-card-content>
              <p style="font-size: 15px;text-align: right;">
                <ion-buttons slot="start">
                  <ion-button  (click)="favorite(todo)" >
                      <ion-icon name="heart-empty"></ion-icon>
                  </ion-button>
              </ion-buttons>Nama Pembuat</p>
            </ion-card-content>
            <ion-card-content>
                <p style="font-size: 15px;text-align: justify;"><br>{{todo.deskripsi}}</p>
              </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- 1bagian -->
    <ion-grid style="font-size:15Px;text-align: center;" >
        <ion-row style="background-color:cornflowerblue;color: white;">
          <ion-col style=" border: solid darkgray">
            <div>
              Takaran Saji
            </div>
          </ion-col>
          <ion-col style=" border: solid darkgray">
            <div>
              Waktu Persiapan Bahan
            </div>
          </ion-col>
          <ion-col style=" border: solid darkgray">
            <div>
              Total Waktu untuk Memasak
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let data3 of term2">
          <ion-col style="border: solid darkgray;background-color:#e6ebe7">
            <div> 
              {{data3.takaransaji}}
            </div>
          </ion-col>
          <ion-col style="border: solid darkgray;background-color:#e6ebe7">
            <div>
              {{data3.waktupersiapan}}
            </div>
          </ion-col>
          <ion-col style="border: solid darkgray;background-color:#e6ebe7">
            <div>
              {{data3.totalwaktu}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- 1bagian -->
    <ion-grid>
      <ion-row style="background-color:cornflowerblue;color: white;">
        <ion-col class="ion-text-center" style=" border: solid darkgray">
          <h2 style="text-align: center;">Langkah - Langkah</h2>
            <!-- Angular disini -->
          <ion-list>
            <ion-item *ngFor="let data of term">
              <p style="font-size:15Px;text-align: justify;">{{data.langkah}}</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br><br>
    <ion-grid>
    <ion-row style="background-color:cornflowerblue;color: white;">
        <ion-col class="ion-text-center" style=" border: solid darkgray">
            <h2 style="text-align: center;">Bahan Dan Takaran</h2>
          <ion-list>
            <ion-item *ngFor="let data1 of term1">
              <ion-label>
                <h3 style="font-size:15Px;text-align: center;">{{data1.nmbahan}}</h3>
                <p style="font-size:15Px;text-align: center;">{{data1.takaran}}</p>
              </ion-label>   
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
