<ion-header>
  <ion-toolbar>
    <h5>Tambahkan Detail untuk Masakan Anda</h5>
    <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="home/tabs/progress" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="text-center">
        <ion-card style="background-color:#e6ebe7; border: solid darkgray;">
          <ion-card-header>
            <ion-card-title style="text-align: center;font-size: 23px;">{{todo.title}}</ion-card-title>
          </ion-card-header>
          <div id="images" *ngIf= "todo.uid != null">
              <div class="image">
                      <ion-img src="https://ucarecdn.com/{{ todo.uid }}/-/resize/640x400/center">
                      </ion-img>
              </div>
          </div>
          <div id="images" *ngIf= "todo.uid == null">
              <div class="image">
                  <img [src]="imagess">
              </div>
          </div>
          <ion-card-content>
              <p style="font-size: 15px;text-align: justify;"><br>{{todo.deskripsi}}</p>
            </ion-card-content>
            <ion-buttons>
              <ion-button [routerLink]="[
              '/',
              'home',
              'tabs',
              'progress',
              'addphoto']">
                Tambahkan Foto
                <div>
                    <div>
                        <ion-icon name="camera" slot="end"></ion-icon>
                      </div>
                      </div>
              </ion-button>
              </ion-buttons>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row style="background-color:#e6ebe7; border: solid darkgray;">
      <ion-col>
        <ion-buttons>
        <ion-button [routerLink]="[
        '/',
        'home',
        'tabs',
        'progress',
        'addlangkah']">
          Tambahkan Tahapan
          <div >
          <div *ngIf= "!test4">
              <ion-icon name="add-circle" slot="end"></ion-icon>
            </div>
            <div *ngIf= "test4">
                <ion-icon name="md-checkmark" slot="end"></ion-icon>
              </div>
            </div>
        </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
          <ion-buttons>
          <ion-button [routerLink]="[
          '/',
          'home',
          'tabs',
          'progress',
          'addbahan']">
            Tambahkan Bahan
            <div>
                <div *ngIf= "!test3">
                    <ion-icon name="add-circle" slot="end"></ion-icon>
                  </div>
                  <div *ngIf= "test3">
                      <ion-icon name="md-checkmark" slot="end"></ion-icon>
                    </div>
                  </div>
          </ion-button>
          </ion-buttons>
        </ion-col>
        
      <ion-col>

        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
