<ion-header>
        <ion-toolbar>
          <ion-title>Tambah Masakan</ion-title>
          <ion-buttons slot="start">y
            <ion-back-button color="primary" [routerLink]="[
            '/',
            'home'
        ]"></ion-back-button>
        </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-slides>
          <ion-slide>
          <ion-grid>
              <ion-row>
                  <ion-col size="12" size-sm="8" offset-sm="2" text-center>
                      <ion-card >
                          <ion-img style="display: block;margin-left: auto; margin-right: auto; width: 50%;" src="https://cdn1.iconfinder.com/data/icons/iconmart-web-icons-2/64/camera-512.png"></ion-img>
                      </ion-card>
                      <ion-button (click)="TakePhotos()" expand="full" color="dark">TakePhotos</ion-button>
                      <ion-list *ngFor="let photo of photos">
                            <img src={{photo}} style="widows: 200px;height: 150px;"/>
                      </ion-list>
                  </ion-col>
              </ion-row>
        <ion-list>
            <ion-item>
                <ion-label position="floating">Title</ion-label>
                <ion-input inputMode="text"  [(ngModel)]="todo.title"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label  position="floating"  >Description</ion-label>
                <ion-textarea  [(ngModel)]="todo.deskripsi"></ion-textarea>
            </ion-item>
        </ion-list>
        <ion-buttons>
            <ion-button color="primary">Swipe >></ion-button>
          </ion-buttons>
      </ion-grid>
      </ion-slide>
        <ion-slide>
          <ion-grid>   
            <ion-text style="font-size:30px">Jenis Bahan</ion-text>
            <ion-card> 
            <ion-item>
                <p style="font-size:15Px;text-align: justify;color:gray;"><strong>Guide </strong>Masukan Nama bahan dan takaran sesuai kebutuhan.Misal Gula : 1 Sendok Makan</p>
              </ion-item>
              </ion-card>
            <ion-item>
                <ion-label  position="floating">Nama Bahan dan Takaran</ion-label>
                <ion-textarea required inputMode="text" [(ngModel)]="todo.nmbahan"></ion-textarea>
            </ion-item>
              <ion-buttons>
                  <ion-button color="primary">Swipe>></ion-button>
                </ion-buttons>
          </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>   
                <ion-text>Langkah-Langkah Masak</ion-text>
                <ion-card> 
                    <ion-item>
                        <p style="font-size:15Px;text-align: justify;color: gray;"><strong style="color:gray;">Guide </strong> Masukan langkah-langkah masak sesuai kebutuhan masakan. Misal : Setelah ayam di bersihkan, selanjutnya di rebus terlebih dahulu</p>
                      </ion-item>
                    </ion-card>
                    <ion-item>
                        <ion-label  position="floating">Langkah-Langkah</ion-label>
                        <ion-textarea  [(ngModel)]="todo.langkah"></ion-textarea>
                    </ion-item>
                <ion-item>
                    <ion-label  position="floating">Takaran Saji</ion-label>
                    <ion-input inputMode="text"  [(ngModel)]="todo.takasaji"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label  position="floating">Waktu Persiapan</ion-label>
                    <ion-input inputMode="text" [(ngModel)]="todo.waktusiap"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label  position="floating">Total Waktu Untuk Memasak</ion-label>
                    <ion-input inputMode="text"  [(ngModel)]="todo.totalmasak"></ion-input>
                </ion-item>
                    <ion-button color="primary" (click)="saveTodo()">Upload</ion-button>
              </ion-grid>
          </ion-slide>
      </ion-slides>
      </ion-content>
      