<ion-header>
  <ion-toolbar>
    <ion-title>Tambah Masakan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-sm="8" offset-sm="2" text-center>
                <ion-card >
                    <ion-img src="https://cdn1.iconfinder.com/data/icons/iconmart-web-icons-2/64/camera-512.png"></ion-img>
                </ion-card>
            </ion-col>
        </ion-row>
  <ion-list>
      <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input inputMode="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea></ion-textarea>
      </ion-item>
  </ion-list>
  <ion-buttons>
      <ion-button color="primary">Swipe >></ion-button>
    </ion-buttons>
</ion-grid>
</ion-slide>
  <ion-slide>
    <ion-grid>   
      <ion-text >Jenis Bahan</ion-text>
  <ion-card> 
      <ion-item>
          <ion-label>
            <h3 style="font-size:15Px;text-align: center;">Daun Jeruk</h3>
            <p style="font-size:15Px;text-align: center;">2 Helai</p>
          </ion-label>   
        </ion-item>
        <ion-item>
          <ion-label>
            <h3 style="font-size:15Px;text-align: center;">Minyak Goreng</h3>
            <p style="font-size:15Px;text-align: center;">1 Liter</p>
          </ion-label>   
        </ion-item>
      </ion-card>
      <ion-item>
          <ion-label position="floating">Nama Bahan</ion-label>
          <ion-input inputMode="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Takaran</ion-label>
          <ion-input inputMode="text"></ion-input>
      </ion-item>
          <ion-button color="primary">Tambah Bahan</ion-button>
        <ion-buttons>
            <ion-button color="primary">Swipe>></ion-button>
          </ion-buttons>
    </ion-grid>
  </ion-slide>
  <ion-slide>
      <ion-grid>   
          <ion-text>Langkah-Langkah Masak</ion-text>
          <ion-card> 
              <ion-item>
                  <p style="font-size:15Px;text-align: justify;"><strong>1.</strong> Setelah ayam dibersihkan, selanjutnya silahkan siapkan rebusan air dalam panci atau wajan dengan bentuk yang cekung yang kira-kira bisa menampung ayam untuk diungkep.</p>
                </ion-item>
                <ion-item>
                  <p style="font-size:15Px;text-align: justify;"><strong>2.</strong> Masukkan ayam kedalamnya bersama dengan daun salam, serai dan juga bumbu yang telah dihaluskan dan berikan sedikit garam. Aduk-aduk secara merata dan ungkep secara merata sampai ayam menjadi setengah matang.</p>
                </ion-item>
              </ion-card>
              <ion-item>
                  <ion-label position="floating">Langkah-Langkah</ion-label>
                  <ion-input inputMode="text"></ion-input>
              </ion-item>
              <ion-button color="primary">Tambah Langkah-Langkah</ion-button>
          <ion-item>
              <ion-label position="floating">Takaran Saji</ion-label>
              <ion-input inputMode="text"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Waktu Persiapan</ion-label>
              <ion-input inputMode="text"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Total Waktu Untuk Memasak</ion-label>
              <ion-input inputMode="text"></ion-input>
          </ion-item>
              <ion-button color="primary">Upload</ion-button>
        </ion-grid>
    </ion-slide>
</ion-slides>
</ion-content>
