<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button color="primary" defaultHref="/home/tabs/profile"></ion-back-button>
      </ion-buttons>
      <ion-title>Sunting Masakan</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-slides>
      <ion-slide>
      <ion-grid>
          <ion-row>
              <ion-col size="12" size-sm="8" offset-sm="2" text-center>
                  <ion-card >
                      <ion-img src="https://cdn1.iconfinder.com/data/icons/iconmart-web-icons-2/64/camera-512.png"></ion-img>
                  </ion-card>
              </ion-col>
          </ion-row>
          <ion-grid>
            <ion-row style="background-color:cornflowerblue;color: white;">
              <ion-col class="ion-text-center" style=" border: solid darkgray">
                <h2 style="text-align: center;">Detail Masakan</h2>
                  <!-- Angular disini -->
                <ion-list>
                  <ion-item style="text-align: center;">
                      <ion-input type="text" placeholder="Title" [(ngModel)]="todo.title"></ion-input>
                  </ion-item>
                  <ion-item style="font-size: 12Px;">
                      <ion-textarea placeholder="Deskripsi" [(ngModel)]="todo.deskripsi"></ion-textarea>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
            <div class="wrapper">
            <ion-buttons style="background-color: #e6ebe7;">
                <div class="wrapper">
                <ion-button color="primary">Swipe >></ion-button>
                </div>
              </ion-buttons>
            </div>
          </ion-grid>
  </ion-grid>
  </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row style="background-color:cornflowerblue;color: white;">
          <ion-col class="ion-text-center" style=" border: solid darkgray">
            <h2 style="text-align: center;">Jenis Bahan</h2>
              <!-- Angular disini -->
            <ion-list>
              <ion-card>
                <ion-item *ngFor="let data1 of term1">
                  <ion-label>
                      <h3 style="font-size:15Px;text-align: center;">{{data1.nmbahan}} 
                        <ion-icon name="trash" (click)="remove1(data1)" slot="end"></ion-icon></h3>
                      <p style="font-size:15Px;text-align: center;">{{data1.takaran}}</p>
                  </ion-label>   
                </ion-item>
              </ion-card>
              <ion-item>
                <ion-label position="floating">Nama Bahan</ion-label>
                <ion-input inputMode="text"  [(ngModel)]="bahan.nmbahan" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Takaran</ion-label>
                <ion-input inputMode="text"
                  [(ngModel)]="bahan.takaran"></ion-input>
            </ion-item>
            <ion-button color="primary"  (click)="savebahan()">Tambah Bahan</ion-button>
            </ion-list>
          </ion-col>
        </ion-row>
        <div class="wrapper">
        <ion-buttons style="background-color: #e6ebe7;">
            <div class="wrapper">
            <ion-button color="primary">Swipe >></ion-button>
            </div>
          </ion-buttons>
        </div>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row style="background-color:cornflowerblue;color: white;">
          <ion-col class="ion-text-center" style=" border: solid darkgray">
            <h2 style="text-align: center;">Langkah-Langkah Masak</h2>
              <!-- Angular disini -->
            <ion-list>
              <ion-card>
                <ion-item *ngFor="let data of term">
                  <!-- <p style="font-size:15Px;text-align: justify;">{{data.langkah}}</p> -->
                  <ion-input type="text" [(ngModel)]="data.langkah"></ion-input>
                  <ion-icon name="md-refresh" (click)="saveedit(data)" slot="end"></ion-icon>
                  <ion-icon name="trash" (click)="remove(data)" slot="end"></ion-icon>
                </ion-item>
              </ion-card>
              <br>
              <ion-item>
                  <ion-label position="floating">Langkah-Langkah</ion-label>
                  <ion-input type="text" [(ngModel)]="langkah.langkah"></ion-input>
              </ion-item>
              <br>
              <ion-button color="primary" (click)="savelangkah()">Tambah Langkah</ion-button>
              <br>
              <div>
                <ion-item>
                    <ion-label position="floating">Takaran Saji</ion-label>
                    <ion-input type="text" [(ngModel)]="waktu.takaransaji"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Waktu Persiapan</ion-label>
                    <ion-input type="text" [(ngModel)]="waktu.waktupersiapan"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Total Waktu Untuk Memasak</ion-label>
                    <ion-input type="text" [(ngModel)]="waktu.totalwaktu"></ion-input>
                </ion-item>
            </div>
            <ion-button color="primary" (click)="test()">Simpan</ion-button>
            <ion-button color="primary" (click)="saveTodo()">Simpan</ion-button>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-slide>
  </ion-slides>
  </ion-content>
  