<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button color="primary" defaultHref="/home/tabs/profile"></ion-back-button>
      </ion-buttons>
      <ion-title>Edit Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content> 
        <div class="camera"></div>
        <div class="flex" *ngIf="!imageURL && !regis.uid">
            <div class="img-box">
              <img [src]="imagess">
            </div>
        </div>
        <div class="flex" *ngIf="regis.uid != null && regis.uid">
            <div class="img-box">
                <ion-img src="https://ucarecdn.com/{{ regis.uid }}/-/resize/200x200/center"></ion-img>
            </div>
        </div>
        <input type="file" *ngIf="!imageURL" (change)="fileChanged($event)"/> 
        
        <ion-card *ngIf="regis.uid == null || !regis.uid">
          <div *ngIf="imageURL">
            <img src="https://ucarecdn.com/{{ imageURL }}/"/>  
            <ion-button color="primary" (click)="createPost()">Save</ion-button> 
          </div>
            <ion-card-content> 
              <ion-item>
                  <ion-label position="floating">Nama</ion-label>
                  <ion-input type="text" [(ngModel)]="regis.nama"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Jenis Kelamin</ion-label>
                  <ion-input type="text" [(ngModel)]="regis.jenisKelamin"></ion-input>
              </ion-item> 
              <ion-item>
                  <ion-label position="floating">Alamat</ion-label>
                  <ion-input type="text" [(ngModel)]="regis.alamat"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">No Hp</ion-label>
                  <ion-input type="number" [(ngModel)]="regis.noHp"></ion-input>
              </ion-item> 
            </ion-card-content>
            <ion-button color="primary" (click)="saveTodo()">Save</ion-button> 
        </ion-card> 

        <ion-card *ngIf="regis.uid  && imageURL">
            <img src="https://ucarecdn.com/{{ imageURL }}/"/>  
            <ion-button color="primary" (click)="createPost()">Save</ion-button> 
            <ion-card-content> 
              <ion-item>
                  <ion-label position="floating">Nama</ion-label>
                  <ion-input type="text" [(ngModel)]="regis.nama"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Jenis Kelamin</ion-label>
                  <ion-input type="text" [(ngModel)]="regis.jenisKelamin"></ion-input>
              </ion-item> 
              <ion-item>
                  <ion-label position="floating">Alamat</ion-label>
                  <ion-input type="text" [(ngModel)]="regis.alamat"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">No Hp</ion-label>
                  <ion-input type="number" [(ngModel)]="regis.noHp"></ion-input>
              </ion-item> 
            </ion-card-content>
            <ion-button color="primary" (click)="saveTodo()">Save</ion-button> 
        </ion-card> 

        <ion-card *ngIf="regis.uid && !imageURL"> 
            <ion-card-content> 
              <ion-item>
                  <ion-label position="floating">Nama</ion-label>
                  <ion-input type="text" [(ngModel)]="regis.nama"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Jenis Kelamin</ion-label>
                  <ion-input type="text" [(ngModel)]="regis.jenisKelamin"></ion-input>
              </ion-item> 
              <ion-item>
                  <ion-label position="floating">Alamat</ion-label>
                  <ion-input type="text" [(ngModel)]="regis.alamat"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">No Hp</ion-label>
                  <ion-input type="number" [(ngModel)]="regis.noHp"></ion-input>
              </ion-item> 
            </ion-card-content>
            <ion-button color="primary" (click)="saveTodo()">Save</ion-button> 
        </ion-card> 
  </ion-content>