<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="timeline">
      <ion-label>Timeline</ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="meeting">
      <ion-label>Meet & Cook</ion-label>
      <ion-icon name="md-alarm"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="progress">
      <ion-label>Progress</ion-label>
      <ion-icon name="apps"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-label>Profile</ion-label>
      <ion-icon name="contact"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
