<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Daftar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="background-color:cornflowerblue;color: white;">
      <ion-col class="ion-text-center" style=" border: solid darkgray">
        <h2 style="text-align: center;">Daftar</h2>
          <!-- Angular disini -->
        <ion-list>
        <!-- <div class="camera"></div>
        <div class="flex" *ngIf="!imageURL">
            <div class="img-box">
              <img [src]="imagess">
            </div>
        </div>
        <input type="file" *ngIf="!imageURL"  (change)="fileChanged($event)"/> 
        <ion-card *ngIf="imageURL">
            <img src="https://ucarecdn.com/{{ imageURL }}/"/>   -->
        <ion-card>
            <ion-card-content>
              <ion-item>
                  <ion-label position="floating">Nama</ion-label>
                  <ion-input type="text" [(ngModel)]="register.nama"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Jenis Kelamin</ion-label>
                  <ion-input type="text" [(ngModel)]="register.jenisKelamin"></ion-input>
              </ion-item> 
              <ion-item>
                  <ion-label position="floating">Alamat</ion-label>
                  <ion-input type="text" [(ngModel)]="register.alamat"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">No Hp</ion-label>
                  <ion-input type="number" [(ngModel)]="register.noHp"></ion-input>
              </ion-item>  
              <ion-item>
                  <ion-label position="floating">Alamat E-mail</ion-label>
                  <ion-input type="email" type="email" [(ngModel)]="username"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Kata Sandi</ion-label>
                  <ion-input type="password" [(ngModel)]="password"></ion-input>
              </ion-item>  
            </ion-card-content>
        </ion-card>
        
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
<div class="wrapper">  
  <ion-button color="danger" (click)="cancel()">Cancel</ion-button>
  <ion-button color="primary" (click)="register1()">Register</ion-button>
</div>
</ion-content>
