<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
          <ion-label position="floating">Nama</ion-label>
          <ion-input type="text" [(ngModel)]="register.nama"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Jenis Kelamin</ion-label>
          <ion-input type="text" [(ngModel)]="register.jenisKelamin"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Alamat</ion-label>
          <ion-input type="text" [(ngModel)]="register.alamat"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">No Hp</ion-label>
          <ion-input type="number" [(ngModel)]="register.noHp"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" type="email" [(ngModel)]="register.email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="register.password"></ion-input>
      </ion-item> 
  </ion-list>
  <ion-button color="primary" (click)="register1()">Register</ion-button>
  <ion-button color="danger" (click)="cancel()">Cancel</ion-button>
</ion-content>
